* {
  margin: 0;
  padding:0;
}

/* ____________Главная, Header, Footer_________________ */

nav {
  display: flex;
  justify-content: center;
  padding: 15px;
  background-color: black;
}

.link {
  text-decoration: none;
  font-family: 'Oswald';
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 10px;
  margin-right: 40px;
  margin-top: 10px;
}

.link:hover {
  color: #43FFD2;
  text-decoration: underline;
}

footer {
  justify-content: center;
  display: flex;
  padding: 20px;
  background-color: black;
}

.logo-footer {
  width: 40px;
}

.social-image {
  width: 25px;
  height: 25px;
  padding: 10px;
}

.column.list {
  margin-left: 100px;
}

.link-footer {
  font-family: 'Oswald';
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #43FFD2;
  margin: 7px;
  text-decoration: none;
}

.link-footer:hover {
  text-decoration: underline;
  color: white;
}

.requisites {
  max-width: 350px;
  font-family: 'Oswald';
  font-weight: 300;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  padding: 20px;
}

.logo {
  margin-top: -15px;
  margin-right: 100px;
}

.address {
  font-family: 'Oswald';
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #43FFD2;
}

.address-text {
  font-family: 'Oswald';
  font-weight: 300;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 15px;
}

.main {
  max-width: 1200px;
  margin: 0 auto;
}

.cont {
  background-image: linear-gradient(180deg, rgba(4, 10, 10, 0) 70%, #040A0A 100%), url('images/bg.png');
  background-color: black;
  background-size: cover;
  padding: 100px 100px 300px 100px;
}

.lover-flower {
  text-align: center;
}

.text {
  font-family: 'Oswald', sans-serif;;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  margin-top: 47px;
}

.view {
  width: 220px;
  font-family: 'Oswald';
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding: 16px;
  margin-top: 47px;
  background: #43FFD2;
  color: #000000;
  border: none;
  text-decoration: none;
  text-align: center;
}

.view:hover {
  background: #7D2253;
  text-transform: uppercase;
  color: #FFFFFF;
}

.position {
  display: flex;
  justify-content: center;
}

.container {
  background: url('images/Ellipse1.png') left no-repeat,
  url('images/Ellipse2.png') right no-repeat,
  url('images/bukets.png') top right no-repeat,
  url('images/flowers.png') left no-repeat,
  url('images/extra.png') bottom right no-repeat,
  black;
  height: 110vh;
}

h2 {
  font-family: 'Cormorant';
  font-weight: 400;
  font-size: 100px;
  line-height: 100px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.describtion {
  font-family: 'Oswald';
  font-weight: 300;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  margin-top: 10px;
  width: 50%;
  margin-left: 100px;
  text-align: justify;
}

.describtion-two {
  font-family: 'Oswald';
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  margin-left: 100px;
  margin-top: 15px;
}

h3 {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 44px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #43FFD2;
}

.item {
  font-family: 'Oswald';
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-left: 20px;
  margin-top: 7px;
}

.grid {
  position: relative;
  min-height: 110vh;
}

.bouquets {
  position: absolute;
  padding: 30px;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 20px;
}

.dry {
  width: 345px;
  top: 50px;
  left: 800px;
}

.fresh {
  width: 440px;
  top: 300px;
  left: 50px;
}

.extra {
  width: 440px;
  top: 400px;
  left: 700px;
}

.container-two {
  position: relative;
  background: url('images/Ellipse1.png') left no-repeat,
  url('images/Ellipse2.png') right no-repeat,
  black;
}

.fon {
  position: absolute;
  background-image: url('images/fon.png');
  width: 800px;
  height: 650px;
  right: 0;
}

.name-two {
  margin-left: 600px;
}

.describtion-three {
  font-family: 'Oswald';
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  text-align: center;
  padding: 20px;
}

.carusel {
  display: flex;
  justify-content: center;
  max-width: 500px;
  margin: 0 auto;
}

.carusel-image {
  max-width: 350px;
  margin-bottom: 10px;
}

.btn.left, .btn.right {
  background-color: transparent;
  border:0;
}

.name {
  font-family: 'Oswald';
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: white;
  margin-bottom: 10px;
}

.price {
  font-family: 'Oswald';
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFFFFF;
  top:750px;
  margin-bottom: 20px ;
} 

.btn {
  display: flex;
  justify-content: space-evenly;
}

.cart {
  box-sizing: border-box;
  width: 220px;
  border: 0.5px solid #FFFFFF;
  font-family: 'Oswald';
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
  padding: 16px;
  background: transparent;
}

.cart:hover {
  background: #43FFD2;
  color: #040A09;
}

.container-three {
  background-color: black;
  position: relative;
  height: 120vh;
}

.fon2 {
  position: absolute;
  background-image: url('images/fon2.png');
  background-repeat: no-repeat;
  width: 800px;
  height: 800px;
  left: 0;
}

.how-to-do-order {
  width: 60%;
  font-family: 'Cormorant';
  font-weight: 400;
  font-size: 100px;
  line-height: 110px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-top: 50px;
}

.step {
  font-family: 'Oswald';
  font-weight: 700;
  font-size: 30px;
  line-height: 44px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #D978AC;
}

.step-description {
  font-family: 'Oswald';
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 250px;
  padding: 12px 30px 50px 0;
}

.steps.contain {
  display: flex;
  flex-direction: column;
  width: 60%;
  max-height: 550px;
  flex-wrap: wrap;
  position: absolute;
  right: 0;
  border-right: 1px solid #D978AC;
}

.lf {
  position: absolute;
  top: 620px;
  left: 950px;
}

/* _______________Каталог___________________ */

.container-catalog-title {
  background: url('../public/images/astra-left.png') no-repeat, url('../public/images/astra-right.png') right top no-repeat, url('../public/images/Ellipse45.png') repeat-y, url('../public/images/Ellipse29.png') top right repeat-y, black; ;
  height: 70vh;
  padding-top: 70px;
}


.catalog-title {
  text-align: justify;
  margin: 0 auto;
  padding: 20px;
  max-width: 820px;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  border-radius: 20px;
}

.name-three {
  margin-left: 250px;
}

.catalog-text {
  width: 400px;
  font-family: 'Oswald';
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-left: 250px;
  padding: 30px 0;
}

.catalog-tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.btn-tag {
  text-align: center;
  box-sizing: border-box;
  border: 0.5px solid #FFFFFF;
  border-radius: 40px;
  font-family: 'Oswald';
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 10px;
  padding: 11px 16px;
  background-color: transparent;
  cursor: pointer;
}

.btn-tag:hover {
  background-color: #43FFD2;
  color: #000000;
}

.container-catalog {
  background: url('../public/images/Ellipse45.png') repeat-y, url('../public/images/Ellipse34.png') right, black;
}

.catalog-image {
  width: 220px;
  height: 280px;
}

.catalog-item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  max-width: 250px;
  padding: 20px 10px;
  margin: 0 auto;
}

.catalog-position {
  display: flex;
  flex-wrap: wrap;
}

.catalog-btn {
  height: 280px;
	width: 20px;
	padding: 0;
	position: absolute;
	top: 20px;
	border: none;
	background-color: transparent;
}

.catalog-btn img {
	margin: auto;
	width: 100%;
	height: auto;
	display: block;
}

.btn-prev {
  left:0;
}

.btn-next {
  right: 0;
}

.category-item {
  font-family: 'Oswald';
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  margin-top: 10px;
}

.more {
  width: 220px;
  font-family: 'Oswald';
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding: 16px;
  margin-top: 47px;
  background: transparent;
  color: #D978AC;
  border: 1px solid #D978AC;
  text-decoration: none;
  text-align: center;
  margin-top: -20px;
  margin-bottom: 10px;
}

.more:hover {
  background: #D978AC;
  color: white;
}

.buttons {
  text-align: center;
}

/* __________About_______________ */

.about-container {
  background: url('../public/images/flower-left.png') no-repeat, url('../public/images/flower-right.png') top right no-repeat, url('../public/images/Ellipse_gold.png') top no-repeat, url('../public/images/Ellipse_gold-top.png') no-repeat, url('../public/images/astra-bottom.png') right bottom no-repeat, url('../public/images/Ellipse41.png') no-repeat right, url('../public/images/Ellipse43.png') no-repeat bottom left, black; 
  height: 280vh;
}

.about-title {
  padding-top: 70px;
}

.about-text {
  font-family: 'Cormorant';
  font-weight: 400;
  font-size: 60px;
  line-height: 64px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #43FFD2;
  margin-bottom: 20px;
}

.both {
  padding: 40px;
  margin-left: 150px;
}

.comanda-title {
  font-family: 'Oswald';
  font-weight: 300;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.comanda-text {
  font-family: 'Oswald';
  font-weight: 300;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.04em;
  color: #FFFFFF;
}

.about-position {
  margin-left: 500px;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  padding: 40px 20px;
  border-radius: 20px;
  width: 630px;
  text-align: justify;
  margin-bottom: 100px;
}

.about-garant {
  margin-left: 200px;
}

.about-garant-description {
  font-family: 'Oswald';
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #FFFFFF;
  max-width: 825px;
  margin-bottom: 100px;
}

.about-text-order {
  font-family: 'Cormorant';
  font-weight: 400;
  font-size: 60px;
  line-height: 64px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #43FFD2;
  margin-bottom: 20px;
  max-width: 695px;
}

.about-order-list {
  margin-left: 200px;
  margin-bottom: 162px;
}

.about-item {
  font-family: 'Oswald';
  font-weight: 300;
  font-size: 20px;
  line-height: 34px;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  margin-left: 25px;
}

.about-big-words {
  font-family: 'Cormorant';
  font-weight: 400;
  font-size: 60px;
  line-height: 64px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #FFFFFF;
  max-width: 1150px;
}












@media all and (max-width: 800px) {

  .cont {
    background-size: contain;
    padding: 50px 0 150px 0;
    background-position: center;
    width: 100%;
  }

  .lover-image {
    width: 500px;
  }

  .bouquets {
    text-align: center;
  }

  .dry {
    width: 500px;
    top: 150px;
    left: 80px;
  }

  .fresh {
    width: 500px;
    top: 410px;
    left: 80px;
  }

  .extra {
    width: 500px;
    top: 760px;
    left: 80px;
  }

  .item {
    list-style: none;
    font-size: 25px;
    padding: 5px;
  }

  .grid h2 {
    display: inline-block;
    margin-top: 30px;
  }

  .describtion {
    display: none;
  }

  .describtion-two {
    display: none;
  }

  .name-two {
    margin-left: 20px;
  }

  .fon {
    height: 600px;
  }
  
  .how-to-do-order {
    padding-top: 0;
  }

  .steps.contain {
    width: 100%;
    max-height: 1000px;
    left: 200px;
  }

  .step-item {
    padding: 0;
    margin: 0;
  }

  .step-description {
    width: 350px;
  }

  .lf {
    left: 450px;
    top: 1100px;
  }

  .about-container {
    background: url('../public/images/flower-left.png') no-repeat,  url('../public/images/Ellipse_gold.png') top no-repeat, url('../public/images/Ellipse_gold-top.png') no-repeat, url('../public/images/astra-bottom.png') right bottom no-repeat, url('../public/images/Ellipse41.png') no-repeat right, url('../public/images/Ellipse43.png') no-repeat bottom left, black; 
    height: auto;
  }

  .container-catalog-title {
    height: 60vh;
  }
  

  .about-position {
    margin-left: 100px;
    width: 530px;
  }
  
  .about-garant {
    margin-left: 100px;
  }
  
  .about-garant-description {
    max-width: 600px;
  }
  
  .about-text-order {
    max-width: 600px;
  }
  
  .about-order-list {
    margin-left: 100px;
  }
  
  .about-big-words {
    max-width: 600px;
    margin-left: 100px;
  }

}

@media all and (max-width:500px) {

  .logo {
    width: 30px;
    margin-right: 10px;
  }

  .footer {
    padding: 5px;
  }

  .logo-footer {
    width: 30px;
  }
  
  .social-image {
    width: 15px;
    height: 15px;
    padding: 5px;
  }
  
  .column.list {
    margin-left: 10px;
    padding: 10px;
  }

  .column {
    padding: 10px;
  }
  
  .link-footer {
    font-size: 8px;
    line-height: 1;
    margin: 2px;
  }

  .requisites {
    max-width: 100px;
    font-size: 8px;
    line-height: 1.5;
  }
  
  .address {
    font-size: 8px;
    line-height: 1;
  }
  
  .address-text {
    font-size: 8px;
    line-height: 15px;
  }
  
  .link {
    font-size: 10px;
    margin-right: 10px;
  }

  .cont {
    background-repeat:no-repeat;
    padding-bottom: 50px;
    background-size: cover;
  }

  .lover-image {
    width: 300px;
  }

  .container {
    height: 130vh;
  }

  h3 {
    font-size: 20px;
  }

  .bouquets {
    padding: 5px;
  }

  .dry {
    box-sizing: border-box;
    width: 300px;
    top: 150px;
    left: 30px;
  }

  .fresh {
    box-sizing: border-box;
    width: 300px;
    top: 370px;
    left: 30px;
  }

  .extra {
    box-sizing: border-box;
    width: 300px;
    top: 610px;
    left: 30px;
  }

  .item {
    font-size: 15px;
    padding: 0;
  }

  .grid h2 {
    margin-top: 10px;
    font-size: 50px;
    line-height: 1;
  }

  .name-two {
    margin-left: 70px;
    line-height: 1;
  }

  .carusel .price  {
    display: inline;
    font-size: 20px;
  }

  .fon2 {
    width: 300px;
  }
  
  .how-to-do-order {
    padding-top: 50px;
  }

  .steps.contain {
    width: 70%;
    max-height: 700px;
    left: 50px;
    background: #00000077;
    padding: 10px;
  }

  .step {
    font-size: 20px;
  }

  .step-description {
    width: 100px;
    font-size: 10px;
    padding: 10px 10px 10px 0 ;
  }

  .lf {
    left: 200px;
    top: 700px;
    width: 100px;
  }

  .container-catalog-title {
    height: 60vh;
  }

  .about-title {
    font-size: 50px;
  }
  
  .about-text {
    font-size: 40px;
  }
  
  .both {
    padding: 40px;
    margin-left: 120px;
  }

  .container-catalog-title {
    background: url('../public/images/astra-left.png') 10px, no-repeat, url('../public/images/Ellipse45.png') repeat-y, url('../public/images/Ellipse29.png') top right repeat-y, black; ;
    height: auto;
    padding-top: 30px;
  }
  
  .catalog-title {
    padding: 10px;
    max-width: 300px;
    background: transparent;
    backdrop-filter: none;
  }
  
  .name-three-title {
    font-size: 50px;
    line-height: 1;
  }

  .name-three {
    font-size: 50px;
    margin-left: 50px;
    line-height: 1;
  }
  
  .catalog-text {
    width: 220px;
    margin-left: 50px;
  }
  
  .btn-tag {
    font-size: 10px;
    line-height: 1;
    margin: 5px;
    padding: 10px 15px;
  }
  
  .catalog-image {
    width: 220px;
    height: 280px;
  }
  
  .comanda-text {
    font-size: 15px;
  }
  
  .about-position {
    margin-left: 50px;
    padding: 10px 5px;
    width: 250px;
  }
  
  .about-garant {
    margin-left: 50px;
  }
  
  .about-garant-description {
    font-size: 15px;
    max-width: 250px;
  }

  .about-order-list {
    margin-left: 50px;
  }
  
  .about-text-order {
    font-size: 40px;
    max-width: 250px;
    line-height: 1;
  }
  
  .about-item {
    font-size: 15px;
    margin-left: 25px;
    max-width: 200px;
    line-height: 1.5;
  }
  
  .about-big-words {
    font-size: 30px;
    line-height: 1;
    max-width: 300px;
    margin-left: 50px;
  }
}